:root {
  --primary: #008044;
  --primary-dark: #006636;
  --background: #111111;
  --card-bg: #1e1e1e;
  --text: #ffffff;
  --text-muted: #a1a1a1;
  --border-radius: 12px;
  --transition: 0.25s ease;

  --bg-grad-from: #1f4163;
  --bg-grad-to: #01132c;
}
